.container {
  text-align: center;
}
.container :global(.title) {
  color: #333;
  line-height: 35px;
  background-color: #ccc;
  margin-bottom: 10px; 
}
.container :global(button) {
  margin: 0 10px;
  /* border-radius: 3px; */
  
}